.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items:center ;
}
.ask-new-button{

    margin:15px;
}
.main-thingy{

}

.answers{
    /* display: flex; */
    margin: 15px;
    
    align-items: space-between;
}